<a href="/google">
  <img src="/assets/images/google.png" alt="Google Analytics">
  <button>
    bekijk Google data 
    <span>→</span>
  </button>
</a>
<a href="/linkedin">
  <img src="/assets/images/linkedin.png" alt="Linkedin">
  <button>
    bekijk Linkedin data 
    <span>→</span>
  </button>
</a>
<a href="/hotjar">
  <img src="/assets/images/hotjar.png" alt="Hotjar">
  <button>
    bekijk Hotjar data 
    <span>→</span>
  </button>
</a>
<a href="/google">
  <img src="/assets/images/google.png" alt="Google Analytics">
  <button>
    bekijk Google data 
    <span>→</span>
  </button>
</a>
<a href="/linkedin">
  <img src="/assets/images/linkedin.png" alt="Linkedin">
  <button>
    bekijk Linkedin data 
    <span>→</span>
  </button>
</a>
<a href="/hotjar">
  <img src="/assets/images/hotjar.png" alt="Hotjar">
  <button>
    bekijk Hotjar data 
    <span>→</span>
  </button>
</a>
<a href="/google">
  <img src="/assets/images/google.png" alt="Google Analytics">
  <button>
    bekijk Google data 
    <span>→</span>
  </button>
</a>
<a href="/linkedin">
  <img src="/assets/images/linkedin.png" alt="Linkedin">
  <button>
    bekijk Linkedin data 
    <span>→</span>
  </button>
</a>
<a href="/hotjar">
  <img src="/assets/images/hotjar.png" alt="Hotjar">
  <button>
    bekijk Hotjar data 
    <span>→</span>
  </button>
</a>