<nav>
  <ul class="navigation">
    <a href="/">
      <li class="navigation-item">
        <img src="/assets/images/fresk-logo.png" alt="Fresk Digital Logo">
      </li>
    </a>
    <a href="/home">
      <li class="navigation-item">
        Statistieken
      </li>
    </a>
    <a href="/about">
      <li class="navigation-item">
        Over dit interface
      </li>
    </a>
  </ul>
</nav>