<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<head>
    <title>About | Fresk Digital</title>
</head>

<div class="transition transition-1 is-active">
  <img src="/assets/images/fresk-digital-snow.png" alt="Fresk Digital Logo">
  <span class="loader"></span>
</div>

<section id="about-section">

  <a href="/">
    <img class="fresk-logo" src="/assets/images/fresk-digital.png" alt="Fresk Digital Logo">
  </a>  
  <h1>Statistics Dashboard Fresk Digital</h1>
  <p>Dit dashboard is ontworpen voor de medewerkers van Fresk Digital. Het is bedoeld om gemakkelijk verschillende statistieken te kunnen bekijken van de officiele website van Fresk.</p>

</section>

<%- include('./partials/foot'); %>


