<%- include('./partials/head'); %>

<head>
    <title>About | Fresk Digital</title>
<<<<<<< Updated upstream
</head>

<h1>Fresk Digital</h1>

<%- include('./partials/foot'); %>


=======
</head> 
>>>>>>> Stashed changes
