<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<head>
    <title>About | Fresk Digital</title>
<<<<<<< Updated upstream
</head>

<div class="transition transition-1 is-active">
    <img src="/assets/images/fresk-digital-snow.png" alt="Fresk Digital Logo">
</div>

<section id="about-section">

  <a href="/">
    <img class="fresk-logo" src="/assets/images/fresk-digital.png" alt="Fresk Digital Logo">
  </a>  
  <h1>Fresk Digital</h1>

</section>

<%- include('./partials/foot'); %>


=======
</head> 
>>>>>>> Stashed changes
