<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<head>
    <title>About | Fresk Digital</title>
</head>

<div class="transition transition-1 is-active">
  <img src="/assets/images/fresk-digital-snow.png" alt="Fresk Digital Logo">
  <span class="loader"></span>
</div>

<div id="about-div">
  <section id="about-section">

    <a href="/">
      <img class="fresk-logo" src="/assets/images/fresk-digital.png" alt="Fresk Digital Logo">
    </a>  
    <h1>Over dit dashboard</h1>
    <p>Dit dashboard is ontworpen en gemaakt voor de medewerkers van Fresk Digital. Het is bedoeld om gemakkelijk verschillende 
       statistieken te kunnen bekijken van de officiele website van Fresk. Denk hierbij aan Google Analytics, Linkedin 
       Analytics en Hotjar Analytics.
       <br><br>
       Let op! Dit is nog een Work in Progress, niet alles aan de website is compleet dus verwacht nog veranderingen. Wil je toch
       alvast iets van de statistieken zien? Dan kun je een kijkje nemen bij de <a class="about-link" href="/google">Google Analytics.</a>
    </p> 
    <a href="/google">
      <button class="about-button">
        Ga naar Google Analytics
        <span>→</span>
      </button>
    </a>
  </section>
</div>



<%- include('./partials/foot'); %>


