<%- include('./partials/head', {current: '/'}); %>

<header>
    <section>
        <div>
            <p>Automatische scan</p>
            <h2>Nieuwekijk/home</h2>
        </div>
       
        <div class="dateSection">
            <button><img src="./assets/icons/chevronLeft.svg" alt="pijl naar links"></button>
            <button>Sept.</button>
            <button><img src="./assets/icons/chevronRight.svg" alt="pijl naar rechts"></button>
        </div>
    </section>
</header>

<main>
    <div class="scanResults">
        <section>
            <article class="autoScanResult">
                <div>
                    <h1>Automatische scan resultaat</h1>
                    <p>Uw webpagina voldoet niet aan de WCAG richtlijnen.</p>
                    <p>Er zijn meerdere fouten ontdekt die verholpen moeten worden om de toegankelijkheid te waarborgen.</p>
                </div>
        
                <div>
                    % percentage
                </div>
            </article>
        
            <article class="typesErrors">
                <h2>Soorten foutmeldingen</h2>
                <p>Hier komt een diagram</p>
            </article>
        </section>
        
        <section class="results">
            <article>
                <p>ontdekte fouten</p>
                <div>
                    <h3>66</h3>
                    <img src="./assets/icons/error.svg" alt="">
                </div>
            </article>
            <article>
                <p>contrast fouten</p>
                <div>
                    <h3>12</h3>
                    <img src="./assets/icons/contrast.svg" alt="">
                </div>
            </article>
            <article>
                <p>structurele fouten</p>
                <div>
                    <h3>32</h3>
                    <img src="./assets/icons/hierarchy.svg" alt="">
                </div>
            </article>
            <article>
                <p>ontbrekende alt-tekstenn</p>
                <div>
                    <h3>8</h3>
                    <img src="./assets/icons/photoLandscape.svg" alt="">
                </div>
            </article>
            <article>
                <p>ontbrekende aria-labels</p>
                <div>
                    <h3>14</h3>
                    <img src="./assets/icons/ariaLabelIcon.svg" alt="">
                </div>
            </article>
        </section>
    </div>

    <section>
        <article class="graphs">
            <h2>Toegankelijkheid</h2>
            <p>Grafiek komt hier</p>
        </article>
    </section>

    
</main>

<%- include('./partials/foot') %>