<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<head>
    <title>Home | Fresk Digital</title>
</head>

<div class="transition transition-2 is-active"></div>

<section id="home-section">

    <ul>
      <a href="/google">
        <li>
          <h2>Google</h2>
        </li>
      </a>
      <a href="/linkedin">
        <li>
          <h2>Linkedin</h2>
        </li>
      </a>
      <a href="/hotjar">
        <li>
          <h2>Hotjar</h2>
        </li>
      </a>
    </ul>

    <!-- <button>Merge All</button> -->

</section>

<%- include('./partials/foot'); %>
