<%- include('./partials/head'); %>

<head>
    <title>Home | Fresk Digital</title>
</head>

<section id="home-section">

    <h1>Analystics Selector</h1>

    <ul>
      <li>
        <h2>Google</h2>
      </li>
      <li>
        <h2>Linkedin</h2>
      </li>
      <li>
        <h2>Hotjar</h2>
      </li>
    </ul>

    <% rows.forEach(function(row) { %>
        <p><%= row.dimensionValues[0].value %>: <%= row.metricValues[0].value %></p>
    <% }) %>

    <!-- <button>Merge All</button> -->

</section>

<%- include('./partials/foot'); %>
