<%- include('./partials/head'); %>

<head>
    <title>Home | Fresk Digital</title>
</head>

<h1>Analystics Selector</h1>

<ul>
    <li>
        <h2>Google</h2>
    </li>
    <li>
        <h2>Linkedin</h2>
    </li>
    <li>
        <h2>Hotjar</h2>
    </li>
</ul>

<button>Merge All</button>

<%- include('./partials/foot'); %>
