<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<head>
    <title>Home | Fresk Digital</title>
</head>

<div class="transition transition-2 is-active">
  <img src="/assets/images/fresk-digital-snow.png" alt="Fresk Digital Logo">
</div>

<section id="home-section">

  <div class="analytics">
    <div class="analytics-slide">
      <a href="/google">
        <img src="/assets/images/google.png" alt="Google Analytics">
      </a>
      <a href="/linkedin">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
      </a>
      <a href="/hotjar">
        <img src="/assets/images/hotjar.png" alt="Hotjar">
      </a>
      <a href="/google">
        <img src="/assets/images/google.png" alt="Google Analytics">
      </a>
      <a href="/linkedin">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
      </a>
      <a href="/hotjar">
        <img src="/assets/images/hotjar.png" alt="Hotjar">
      </a>
      <a href="/google">
        <img src="/assets/images/google.png" alt="Google Analytics">
      </a>
      <a href="/linkedin">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
      </a>
      <a href="/hotjar">
        <img src="/assets/images/hotjar.png" alt="Hotjar">
      </a>
    </div>

    <div class="analytics-slide">
      <a href="/hotjar">
        <img src="/assets/images/hotjar.png" alt="Hotjar">
      </a>
      <a href="/google">
        <img src="/assets/images/google.png" alt="Google Analytics">
      </a>
      <a href="/linkedin">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
      </a>
      <a href="/hotjar">
        <img src="/assets/images/hotjar.png" alt="Hotjar">
      </a>
      <a href="/google">
        <img src="/assets/images/google.png" alt="Google Analytics">
      </a>
      <a href="/linkedin">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
      </a>
      <a href="/hotjar">
        <img src="/assets/images/hotjar.png" alt="Hotjar">
      </a>
      <a href="/google">
        <img src="/assets/images/google.png" alt="Google Analytics">
      </a>
      <a href="/linkedin">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
      </a>
    </div>

    <div class="analytics-slide">
      <a href="/google">
        <img src="/assets/images/google.png" alt="Google Analytics">
      </a>
      <a href="/linkedin">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
      </a>
      <a href="/hotjar">
        <img src="/assets/images/hotjar.png" alt="Hotjar">
      </a>
      <a href="/google">
        <img src="/assets/images/google.png" alt="Google Analytics">
      </a>
      <a href="/linkedin">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
      </a>
      <a href="/hotjar">
        <img src="/assets/images/hotjar.png" alt="Hotjar">
      </a>
      <a href="/google">
        <img src="/assets/images/google.png" alt="Google Analytics">
      </a>
      <a href="/linkedin">
        <img src="/assets/images/linkedin.png" alt="Linkedin">
      </a>
      <a href="/hotjar">
        <img src="/assets/images/hotjar.png" alt="Hotjar">
      </a>
    </div>
  </div>

</section>

<%- include('./partials/foot'); %>
