<%- include('./partials/head', {current: '/'}); %>

<header>
    <h1>Kies je website</h1>
</header>

<main>
    <ul class="sites">
        <% site.forEach(site => { %>
            <li>
                <a href="/site/<%= site.id %>"><%= site.title %></a>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('./partials/foot') %>