<%- include('./partials/head', {current: '/'}); %>

<header class="home">
    <img src="../assets/icons/accessDashLogo.svg" alt="logo van Access Dash">
    <h1><img src="../assets/icons/structure.svg" alt="Icoon van een structuur website">Websites</h1>
</header>

<main>
    <h2>Kies je website</h2>
    
    <ul class="sites">
        <% sites.forEach(site => { %>
            <li>
                <a href="/site/<%= site.id %>"><h3><%= site.title %></h3></a>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('./partials/foot') %>