<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<head>
    <title>Linkedin Analytics | Fresk Digital</title>
</head>

<div class="transition transition-1 is-active">
    <img src="/assets/images/fresk-digital-snow.png" alt="">
</div>

<%- include('./partials/foot'); %>