<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<head>
    <title>Linkedin Analytics | Fresk Digital</title>
</head>

<div class="transition transition-1 is-active">
  <img src="/assets/images/fresk-digital-snow.png" alt="Fresk Digital Logo">
  <span class="loader"></span>
</div>

<section id="linkedin-section">

  <a href="/">
    <img class="fresk-logo" src="/assets/images/fresk-digital.png" alt="Fresk Digital Logo">
  </a>  

  <h1 class="empty-title">Oeps! Er is hier nog geen data te vinden van Linkedin...</h1>

  <p class="redirect-text">Er is wel data te vinden bij de <a href="/google" class="redirect-link">Google Analytics</a></p>

  <img class="cross" src="/assets/images/cross.png" alt="Cross on backdrop">
  
</section>

<%- include('./partials/foot'); %>