<%- include('./partials/head'); %>

<head>
    <title>Login | Fresk Digital</title>
</head>

<section>

    <form action="/home" class="form-login">
      <h1>Login</h1>

      <label for="">Code</label>
      <input type="text" placeholder="Enter at least 5 digits...">

      <button type="submit">Login</button>

      <p>Don't have an account? <a href="#">Register</a></p>
    </form>

    <div class="backdrop one"></div>
    <div class="backdrop two"></div>
    <div class="backdrop three"></div>
    <div class="backdrop four"></div>
    <div class="backdrop five"></div>

</section>

