<%- include('./partials/head'); %>

<head>
    <title>Login | Fresk Digital</title>
</head>

<div class="transition transition-1 is-active">
  <img src="/assets/images/fresk-digital-snow.png" alt="Fresk Digital Logo">
</div>
 
<section id="login-section">

  <img class="fresk-logo" src="/assets/images/fresk-digital.png" alt="Fresk Digital Logo">

  <form method="POST" action="/" class="form-login">
    <h1>Login</h1>

    <label for="">Vul je gebruikerscode in:</label>
    <input type="text" placeholder="Your user code here...">

    <a href="/home" class="login-button">Inloggen</a>

    <p>Heb je geen code? <a href="#">Aanmelden</a></p>
  </form>

</section>

