<%- include('./partials/head'); %>

<head>
    <title>Login | Fresk Digital</title>
</head>

<section id="login-section">

    <form action="/home" class="form-login">
      <h1>Login</h1>

      <label for="">Enter your user code:</label>
      <input type="text" placeholder="Your user code here...">

      <button type="submit">Login</button>

      <p>Don't have an account? <a href="#">Register</a></p>
    </form>

</section>

