/* Fonts */
@font-face {
    font-family: Nunito;
    src: url(../assets/fonts/Nunito-VariableFont_wght.ttf);
}

/* Custom Properties */
:root {
    /* Primary Brand Colors */
    --orange: #FF7535;
    --green: #B9FFB7;
    --blue: #5E43FF;

    /* Secondary Brand Colors */
    --black: #120B11;
    --grey: #302A2F;
    --silver: #736f72;
    --white: #FCF8F7;

    /* Transitions */
    --tran-1: 0.5s ease;
    --tran-2: 0.20s ease-in;
}

/* General */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
    color: var(--black);
    list-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

section {
    position: relative;
    height: 100vh;
    width: 70vw;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.fresk-logo {
    position: absolute;
    height: 50px;
    top: 50px;
    left: 0;
}

h1 {
    font-size: 3em;

    background: linear-gradient(
        to right,
        var(--orange),
        var(--blue)
    );
    color: transparent;
    background-clip: text;
    background-size: 200% auto;
    -webkit-background-clip: text;
}

.empty-title {
    max-width: 23ch;
    text-align: center;
}

.redirect-text {
    margin-top: 2em;
    font-size: 1.25em;
}

.redirect-text a {
    background: linear-gradient(
        to right,
        var(--orange),
        var(--blue)
    );
    color: transparent;
    background-clip: text;
    background-size: 200% auto;
    -webkit-background-clip: text;
    font-weight: 700;
}

.cross {
    position: absolute;
    z-index: -10;
    height: 80vh;
}

/* Page Transition */
.transition {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transition-1 {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 200;
    background: var(--grey);
    transition: var(--tran-1);
}

.transition-1.is-active {
    top: 0;
}

.transition-2 {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 200;
    background: var(--grey);
    transition: var(--tran-1);
}

.transition-2.is-active {
    top: 0;
}

.transition img {
    height: 75px;
    margin-bottom: 2em;
}


.loader {
    width: 38px;
    height: 38px;
    border: 4px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


/* Navigation */
.navigation {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 3em;
    z-index: 100;

    border-radius: 500px;
    background: var(--grey);
}

.navigation-item {
    color: var(--white);

    padding: 0.5em 1.5em;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 12px;
}

.navigation-item img {
    height: 35px;
}

/* Login Page */
#login-section {
    text-align: center;
    background-image: url('/assets/images/fresk-backdrop.png');
    background-image: image-set(
        url('/assets/images/fresk-backdrop.webp') type('image/webp')
    );
    background-repeat: no-repeat;
    background-size: 100%;
}

.form-login {
    padding: 2em;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
}

.form-login h1 {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 0.5em;
}

.form-login input {
    border: 1px solid var(--black);
    border-radius: 40px;
    padding: 1em;
    margin-top: 1em;
}

.form-login .login-button {
    border: none;
    font-weight: 800;
    border-radius: 40px;
    padding: 1em;
    margin: 1em 0 2em 0;
    color: var(--white);
    background: var(--black);
}

.form-login .login-button:hover {
    cursor: pointer;
    background: var(--grey);
}

.form-login p a {
    font-weight: 800;
}

.form-login p a:hover {
    color: var(--grey);
}

/* Homepage */
#home-section h1 {
    position: absolute;
    left: 20px;
    top: 125px;
    width: 10ch;
}

#home-section ul {
    display: flex;
}

#home-section ul li {
    margin: 0 2em;
}

.analytics {
    overflow: hidden;
    height: 100vh;
    display: flex;
}

.analytics-slide {
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    animation: slideAnimation 20s infinite linear;
    padding: 0 1em;
}

.analytics-slide:hover {
    animation-play-state: paused;
}

.analytics-slide a {
    text-align: center;
    position: relative;
}

.analytics-slide img {
    height: 200px;
    margin: 3em 0;
    transition: var(--tran-1);
    border-radius: 20px;
    margin: 3em 0;
}

.analytics-slide img:hover {
    scale: 1.025;
}

.analytics-slide button,
.about-button {
    margin-top: -3.5em;
    padding: 0.25em 1em;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 12px;

    color: var(--white);
    background: var(--grey);

    visibility: hidden;
    border: none;
    display: flex;
    cursor: pointer;
    justify-self: center;
    align-items: center;
    border-radius: 500px;
}

.about-button {
    visibility: visible;
    margin: 4em 0 10em 0
}

.analytics-slide a:hover > button {
    visibility: visible;
}

.analytics-slide button:hover span,
.about-button:hover span {
    color: var(--white);
    transform: translateX(0.5em);
}

.analytics-slide button span,
.about-button span {
    color: var(--silver);
    font-size: 2em;
    padding: 0 0.5em;
    transition: transform var(--tran-2);
    margin-bottom: 3px;
}

.analytics-slide:nth-of-type(2) {
    animation: slideAnimation 15s infinite linear;
}

.analytics-slide:nth-of-type(2):hover {
    animation-play-state: paused;
}

@keyframes slideAnimation {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Google Page */
#google-section,
#about-section {
    justify-content: start;
    padding: 2em;
    height: 100vh;
    overflow: scroll;
    align-items: start;
}

.data-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#google-section .fresk-logo,
#about-section .fresk-logo {
    position: static;
    margin-top: 50px;
}

.users-countries {
    margin: 0 2em;
}

.users-countries,
.users-cities,
.users-browsers {
    margin-top: 25px;
    padding: 1em 1em 0 1em;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.users-countries ul,
.users-cities ul {
    height: 40vh;
    width: 250px;
    overflow: scroll;
}

.fade-bottom {
    position:absolute;
    width: 250px;
    height: 3em;
    background-image: linear-gradient(
        transparent,
        white
    );
    transform: translateY(-3em);
}

.users-title {
    padding-bottom: 1em;
}

.users-title p {
    color: var(--silver);
}

/* About Page */
#about-div {
    background-image: url('/assets/images/fresk-backdrop.png');
    background-image: image-set(
        url('/assets/images/fresk-backdrop.webp') type('image/webp')
    );
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 70vw;
}

#about-section p {
    max-width: 60ch;
}

.about-link {
    font-weight: 700;
    background: linear-gradient(
        to right,
        var(--orange),
        var(--blue)
    );
    color: transparent;
    background-clip: text;
    background-size: 200% auto;
    -webkit-background-clip: text;
}

/* Mocht Javascript niet ondersteund zijn zal de pagina gebruik maken van deze View-Transition */
@view-transition {
    navigation: auto;
}

/* Mocht Javascript wel ondersteund zijn zal de pagina gebruik maken van deze View-Transition */
@media (scripting: enabled) {
    .transition {
        display: flex;
    }
}