/* Fonts */
@font-face {
    font-family: Nunito;
    src: url(../assets/fonts/Nunito-VariableFont_wght.ttf);
}

/* Custom Properties */
:root {
    /* Primary Brand Colors */
    --orange: #FF7535;
    --green: #B9FFB7;
    --blue: #5E43FF;

    /* Secondary Brand Colors */
    --black: #120B11;
    --grey: #302A2F;
    --silver: #736f72;
    --white: #FCF8F7;
}

/* General */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
    color: var(--black);
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

/* Page Transition */
.transition img {
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.transition-1 {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 200;
    background: var(--grey);
    transition: 0.5s ease-out;
}

.transition-1.is-active {
    top: 0;
}

.transition-2 {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 200;
    background: var(--grey);
    transition: 0.5s ease-out;
}

.transition-2.is-active {
    top: 0;
}

/* Navigation */
.navigation {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 3em;
    z-index: 100;

    border-radius: 500px;
    background: var(--grey);
}

.navigation-item {
    color: var(--white);

    padding: 0.5em 1.5em;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 12px;
}

.navigation-item img {
    height: 35px;
}

/* Login Page */
#login-section {
    text-align: center;
    background: url(/assets/images/fresk-backdrop.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.form-login {
    padding: 2em;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
}

.form-login h1 {
    font-weight: 800;
    font-size: 2em;
    margin-bottom: 1em;
}

.form-login input {
    border: 1px solid var(--black);
    border-radius: 40px;
    padding: 1em;
    margin-top: 1em;
}

.form-login .login-button {
    border: none;
    font-weight: 800;
    border-radius: 40px;
    padding: 1em;
    margin: 1em 0 2em 0;
    color: var(--white);
    background: var(--black);
}

.form-login .login-button:hover {
    cursor: pointer;
    background: var(--grey);
}

.form-login p a {
    font-weight: 800;
}

.form-login p a:hover {
    color: var(--grey);
}

/* Homepage */
#home-section ul {
    display: flex;
}

#home-section ul li {
    margin: 0 2em;
}